/* ---- reset ---- */ 
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    backdrop-filter: 500;
}



.bg-image {
  /* The image used */
  background-image: url("hartbg.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
    font-family: 'Indie Flower', cursive;
    width:80%;
    color: rgb(0, 0, 0);
    shadow: 3px;
    border-color:  rgb(116, 0, 0);
    border-radius: 1px;
stroke-width: 1px;
border-color: black;
    position: absolute;
    top: 22%;
    left:50%;
    margin-left: -40%;
    font-size: 2.2em;
    font-weight: 500;
}

.cd__main{
   background: pink !important;
   font-family: 'Pacifico', cursive !important;
   min-height: 450px;
}

.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw); 
  }
  to {
     transform: translateY(105vh) translateX(10vw); 
  }
}